*{box-sizing: border-box;}

body {
	font-size: 16px;
	color: #fff;
	background-color: #6dd8f2;
	font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
	background-color: #f50505;
	border-radius: 0;
	border: 0;
}
.container-fluid {
	position: relative;
}
.nabvar-brand h1{
	font-family: 'Lora', serif;
	color: #e1f505;
	text-shadow: 1px 1px 1px #222;
}
.nabvar-brand a {
	text-decoration: none;
}
.nabvar-brand a:hover, .nabvar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	margin: 10px;
}
#nav-list a {
	color: #e1f505;
	text-align: center;
    font-size: 1.5em;}
}
.navbar-toggler {
	border: 1px solid #6dd8f2;
	
}
#nabvar-toggler-position {
	border: 1px solid #6dd8f2;
	position: absolute;
	top: 0;
	right:  2px;
}

.menu-style{
	border: 5px solid #7fad13;
	background-color:#dafa7a;
	color: #020717;
	padding: 5px 5px 5px 5px;
	width: 98%;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px; 
	}

.menu-style h4 {
	text-align: center;
}
#menu-title {
    height: 50px;
    color: #f50505;
    line-height: 50px;
}